.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
}

.card {
  background-color: #fcf7e9;
  border: 4px solid #333;
  box-shadow: 5px 10px 0px black;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out, all 0.3s;
  transform: scale(0);
}

.card__open {
  visibility: visible;
  transform: scale(1);
}

.card__title {
  background-color: #fcf7e9;
  color: #333;
  font-family: 'Rubik', sans-serif;
  font-size: 7rem;
  font-weight: 900;
  padding: 1rem;
  text-align: center;
}

.card__subheading {
  border: 4px solid #333;
  margin: 10px;
  color: #333;
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem;
  text-align: center;
}

.card__close__button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0px 10px;
  background: none;
  border: none;
  color: #333;
  font-family: 'Rubik', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .card__title {
    font-size: 2rem;
  }

  .card__subheading {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .card__title {
    font-size: 3rem;
  }

  .card__subheading {
    font-size: 1.5rem;
  }
}

input:focus {
  outline: none;
}