@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap');

/* Do'nt scroll */
body {
    margin: 0;
    padding: 0;
    background-color: #dbcec2;
}

button {
    cursor: pointer;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }